
html,
body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #222325;
	line-height: 2rem;
}


body > svg{
	width: 100%;
	height: auto;

}

path{
	stroke: white;
	stroke-width:1;
	stroke-linecap: round;
	fill: none;
}